.welcome-component {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    margin: 0px 5%;
    width: 90%;
    background-color: rgb(56, 96, 109);
    border-radius: 40px;
    border: 1px solid black;
    color: rgb(238, 234, 234);


}