.card {
    &__title {
        padding: 40px 40px;
        text-align: center;
        border-radius: 40px;
        color: rgb(238, 234, 234);
        font-size: 30px;
    }

    &__image {
        width: 300px;
        align-self: center;
    }

    &__info {
        padding: 20px;
    }
}