#clear { 
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
  	background-color: rgb(154, 215, 239);
}

#Rain {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: -1;
  	background-color: rgb(142, 185, 203);
}

.droplet {
	background: rgb(0, 0, 0);
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	animation: fall 2s  linear  infinite;
}

@media (max-width: 600px) {
	#Rain {
		height: 105vh;
	}
}

@keyframes  fall {
	0% {
		transform: translate(-100px, -2000px) rotate(15deg)
	}
	
	100% {
		transform: translate(-900px, 300px) rotate(15deg)
	}
}